.benefits {
  padding: 50px 0;
  background-color: #1e1823;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  position: relative;
  width: 308px;
}

.benefits-item:not(:last-child)::after {
  content: '';
  position: absolute;
  /* top: 25%; */
  top: calc(50% - 124px / 2);
  right: -44px;
  display: block;
  width: 1px;
  height: 124px;
  /* height: 50%; */

  background-color: rgba(255, 255, 255, 0.5);
}
.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.benefits-caption {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
}
.benefits-descr {
  color: rgba(255, 255, 255, 0.7);
}
