.benefits {
  padding: 30px 0;
  background-color: #1e1823;
}

.benefits-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.benefits-item {
  gap: 22px;
  width: 308px;
  position: relative;
}

.benefits-caption {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
}

.benefits-descr {
  color: rgba(255, 255, 255, 0.7);
}

.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

@media only screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }

  .benefits-list {
    justify-content: flex-start;
    gap: 44px 88px;
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-list {
    justify-content: center;
    gap: 88px;
  }

  .benefits-item:not(:last-child)::after {
    position: absolute;
    right: -44px;
    top: calc(50% - 124px / 2);
    content: '';
    display: block;
    width: 1px;
    height: 124px;

    background-color: rgba(255, 255, 255, 0.5);
  }
}
