.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  display: flex;
  gap: 16px;
}
.bestsellers-item {
  width: 368px;
  border-radius: 0 0 16px 16px;
  transition: box-shadow 300ms ease-out;
}

.bestsellers-item:hover {
  box-shadow: 0 4px 10px 0 rgba(30, 24, 35, 0.2);
}
.bestsellers-wrapper {
  position: relative;
  overflow: hidden;
}
.bestsellers-ill {
  border-radius: 16px 16px 0 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px;

  color: #fafafa;
  backdrop-filter: blur(16px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  border-radius: 16px 16px 0 0;
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}
.bestsellers-caption {
  padding: 28px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;

  border-radius: 0 0 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
}
