.bestsellerers {
}

.bestsellerers-title {
}

.bestsellerers-list {
}

.bestsellerers-item {
}

.bestsellerers-ill {
}

.bestsellerers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
}
