/*? Global Styles */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #111111;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Common styles */
.ingredients,
.made,
.products,
.bestsellers,
.reviews {
  padding: 40px 0;
}
.made-title,
.ingredients-title,
.products-title,
.bestsellers-title,
.reviews-title {
  max-width: 412px;
  margin: 0 auto 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .ingredients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 50px 0;
  }

  .made-title,
  .ingredients-title,
  .products-title,
  .bestsellers-title,
  .reviews-title {
    margin: 0 auto 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media only screen and (min-width: 1168px) {
  .ingredients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 60px 0;
  }
}
.accent-text {
  color: #fd9222;
}
