.footer {
  padding: 50px 0px;
  background-color: #1e1823;
}

.footer-caption {
  font-weight: 600;
  color: #fff;
  margin-bottom: 14px;
}

/* Footer Top */

.footer-top {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 0px 48px;
}

.footer-slogan {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

/* Social */

.footer-network {
  margin-left: auto;
  margin-right: 90px;
}

.social {
}

.footer-social {
}

.social-list {
}

.social-link {
}

.social-icon {
}

/* Address */

.address {
}

.footer-address-list {
}

.footer-address-item {
}

.address-link {
  color: #fff;
}

/* Footer Bottom */

.footer-bottom {
  padding-top: 24px;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-nav-item {
}

.footer-nav-link {
  display: block;
  padding: 11px 0;
  font-weight: 500;
  color: #fff;
  transition: color 250ms ease-in-out;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #fd9222;
}
