.header {
}

/* Logo styles */

.logo {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  color: #111111;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.logo-icon {
}

/* Nav styles */

.header-nav {
}

.header-nav-list {
}

.header-nav-item {
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  color: #111111;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  list-style-type: none;
}

/* Social links styles */

.social {
}

.header-social {
}

.social-list {
}

.social-link {
}

.social-icon {
}
