.header {
}

/* Logo styles */

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.logo-icon {
}

/* Nav styles */

.header-nav {
}

.header-nav-list {
}

.header-nav-item {
}

.header-nav-link {
  font-weight: 500;
}

/* Social links styles */

.social {
}

.header-social {
}

.social-list {
}

.social-link {
}

.social-icon {
}
