.hero {
  padding-bottom: 80px;
}

.hero-container {
}

.hero-wrapper {
  border-radius: 30px;
  padding: 380px 40px 40px;
  width: 1136px;
  background: rgba(17, 17, 17, 0.4);
  background-image:
    linear-gradient(rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%),
    url('../images/hero/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 500;
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
}

.hero-controls {
  display: flex;
  gap: 14px;
}

.hero-btn {
  min-width: 144px;
  min-height: 46px;
  border-radius: 100px;
  padding: 14px 40px;
  font-weight: 600;
  color: #fff;
  border: 1px solid transparent;
  background-color: transparent;
}

.hero-btn.accent {
  display: inline-block;
  background: #fd9222;
}

.hero-btn.accent:hover,
.hero-btn.accent:focus {
  color: #fd9222;
  background-color: rgba(253, 146, 34, 0.1);
}

.hero-btn.outlined {
  display: inline-block;
  border-color: #fff;
  border: 1px solid #fff;
}

.hero-btn.outlined:hover,
.hero-btn.outlined:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.hero-link {
  margin-left: auto;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}

.hero-link-item {
}
