.ingredients {
  padding-top: 120px;
}

.ingredients-container {
}

.ingredients-title {
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.ingredients-item {
  border-radius: 15px;
  padding: 28px 24px;
  width: calc((100% - 32px * 3) / 4);
  border: 1px solid transparent;
}

.ingredients-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}

.ingredients-item:nth-child(2n) {
  border-color: #fd9222;
  color: #111;
}

.ingredients-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}

.ingredients-ill {
  margin-bottom: 36px;
}

.ingredients-type {
  font-weight: 600;
}

.ingredients-btn-arrow {
}

.ingredients-btn-arrow-icon {
}
