.ingredients {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .ingredients {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1168px) {
  .ingredients {
    padding-top: 120px;
  }
}
.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .ingredients-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.ingredients-item {
  position: relative;
  /* width: calc((100% - 32px * 3) / 4); */

  border-radius: 15px;
  padding: 32px 28px 28px;

  border: 1px solid transparent;
}
@media only screen and (min-width: 768px) {
  .ingredients-item {
    width: calc((100% - 32px) / 2);
  }
}
@media only screen and (min-width: 1168px) {
  .ingredients-item {
    width: calc((100% - 32px * 3) / 4);
    padding: 28px 24px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ingredients-item:not(:nth-child(-n + 4)) {
    /* .ingredients-item:not(:nth-last-child(n + 3)) { */
    display: none;
  }
}
.ingredients-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingredients-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}
.ingredients-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}
.ingredients-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  padding: 0;
  border: none;
  background-color: transparent;
}
.ingredients-item:nth-child(2n) .ingredients-btn {
  color: #fd9222;
}
.ingredients-item:nth-child(2n + 1) .ingredients-btn {
  color: #ffffff;
}
.ingredients-icon {
  fill: transparent;
  stroke: currentColor;
}
.ingredients-ill {
  margin: 0 auto 16px;
}
@media only screen and (min-width: 1168px) {
  .ingredients-ill {
    margin-bottom: 36px;
  }
}
.ingredients-type {
  font-weight: 600;
}
