.ingredients {
}

.ingredients-title {
}

.ingredients-list {
}

.ingredients-item {
}

.ingredients-ill {
}

.ingredients-type {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
