.made {
}

.made-container {
}

.made-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.made-left-side {
  border-radius: 16px;
  overflow: hidden;
  width: 600px;
}

.made-right-side {
  border-radius: 15px;
  padding: 32px;
  width: 516px;
  background-color: #fff;
}

.made-title {
}

.made-ill {
}

.made-subtitle {
  max-width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.made-item {
  display: flex;
  gap: 8px;
}

.made-item::before {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 5px;

  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
