.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition:
    opacity 300ms ease-out 200ms,
    visibiliti 300ms ease-out 200ms;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

/* Modal container */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);

  border-radius: 15px;
  padding: 40px;
  max-width: 518px;
  min-height: 796px;

  transition: 150ms ease-out 0ms;
  transition-property: transform, opacity;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
}

.backdrop.is-open .modal {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;

  transition-delay: 0ms;
}

/* body:has(.backdrop.is-open) {
  overflow-y: hidden;
} */

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  border: none;
  background-color: transparent;
  color: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: stroke 300ms ease-out;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #fd9222;
}

.modal-btn-svg {
  stroke: currentColor;
}

.modal-caption {
  max-width: 300px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #111;

  margin-bottom: 40px;
}

/* Form */

.modal-form {
}

.modal-form-field {
  margin-bottom: 18px;
}

/*  */

.modal-form-label {
  display: block;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 8px;
}

.modal-form-wrap {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;

  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #404040;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 12px;

  outline: none;
  background-color: transparent;

  transition: border-color 300ms ease-out;
}

.modal-form-input:focus,
.modal-form-input:focus-within {
  border-color: #fd9222;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);

  stroke: #404040;

  pointer-events: none;

  transition: stroke 300ms ease-out;
}

.modal-form-input:focus + .modal-form-icon {
  stroke: #fd9222;
}

.modal-form-comment {
  width: 100%;
  height: 138px;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 12px;
  padding: 22px 24px;

  font-size: 18px;
  line-height: 1.33;
  color: #404040;

  resize: none;
  outline: none;

  transition: border-color 300ms ease-out;
}

.modal-form-comment::placeholder {
  color: rgba(17, 17, 17, 0.4);
}

.modal-form-comment:hover,
.modal-form-comment:focus {
  border-color: #fd9222;
}

/*  */

.modal-form-btn {
  min-width: 117px;
  min-height: 46px;

  font-weight: 600;
  color: #fff;

  border: none;
  background-color: #fd9222;

  border-radius: 100px;
  padding: 14px 40px;
  transition:
    background-color 300ms ease-out,
    color 300ms ease-out;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  color: #fd9222;
  background-color: rgba(253, 146, 34, 0.1);
}

/* Custom Checkbox */

.modal-form-agreement {
  margin-bottom: 40px;
}

.checkbox {
}

.modal-form-agreement-wrapper {
  color: rgba(17, 17, 17, 0.7);
}

.modal-form-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  margin-right: 12px;

  color: transparent;

  cursor: pointer;

  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);

  transition:
    background-color 300ms ease-out,
    border-color 300ms ease-out,
    color 300ms ease-out;
}

.checkbox:checked
  + .modal-form-agreement-wrapper
  > .modal-form-agreement-checkbox {
  background-color: #fd9222;
  border-color: #fd9222;
  color: #fff;
}

.modal-form-agreement-icon {
  fill: currentColor;
}

.modal-form-agreement-link {
  color: #fd9222;
}

/* Form Validation */

.modal-form-input:user-invalid {
  border-color: #e74a3b;
}

.modal-form-input:user-invalid + .modal-form-icon {
  stroke: #e74a3b;
}

.modal-form-error {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  color: #e74a3b;

  opacity: 0;

  transition: opacity 300ms ease-out;
}

.modal-form-input:user-invalid ~ .modal-form-error {
  opacity: 1;
}
