.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* width: 100dvw;
  height: 100dvh; */

  background-color: rgb(17 17 17 / 40%);

  transition: 300ms ease-in 200ms;
  transition-property: opacity, visibility;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition-delay: 0ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;

  transition: 150ms ease-in 0ms;
  transition-property: transform, opacity;

  max-width: 518px;
  width: 100%;
  min-height: 796px;
  padding: 40px;

  border-radius: 15px;
  background-color: #fafafa;
}

.backdrop.is-open .modal {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;

  transition-delay: 350ms;
}

/* ? Scroll blocking technique */
body:has(.backdrop.is-open) {
  overflow-y: hidden;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #111;

  border: none;
  background-color: transparent;
  transition: color 300ms ease-out;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #fd9222;
}
.modal-btn-icon {
  stroke: currentColor;
}
.modal-caption {
  max-width: 300px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.modal-form {
}
.modal-form-field {
  margin-bottom: 18px;
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-label {
  display: block;
  margin-bottom: 8px;

  color: rgba(17, 17, 17, 0.7);
}
.modal-form-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;

  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #404040;

  outline: none;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 12px;

  transition: 300ms ease-out;
  transition-property: border-color;
}

.modal-form-input:focus {
  border-color: #fd9222;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #404040;

  transition: 300ms ease-out;
  transition-property: stroke;
}

.modal-form-input:focus + .modal-form-icon {
  stroke: #fd9222;
}

.modal-form-comment {
  width: 100%;
  height: 138px;
  padding: 22px 24px;

  font-size: 18px;
  line-height: 1.33;

  outline: none;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 12px;
  resize: none;

  transition: 300ms ease-out;
  transition-property: border-color;
}
.modal-form-comment:focus {
  border-color: #fd9222;
}
.modal-form-comment::placeholder {
  color: rgba(17, 17, 17, 0.4);
}

.modal-form-btn {
  min-width: 117px;
  min-height: 46px;
  padding: 14px 40px;

  font-weight: 600;
  line-height: 1.29;
  color: #fff;

  border: none;
  border-radius: 100px;
  background-color: #fd9222;

  transition: 300ms ease-out;
  transition-property: background-color;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: rgba(253, 146, 34, 0.1);
}

/*? Custom Checkbox */
.modal-form-agreement {
  margin-bottom: 40px;
}
.checkbox {
}
.modal-form-agreement-wrapper {
  color: rgba(17, 17, 17, 0.7);
}
.modal-form-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  margin-right: 12px;

  color: transparent;

  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  cursor: pointer;

  transition: 300ms ease-out;
  transition-property: background-color, border-color, color;
}

.checkbox:checked
  + .modal-form-agreement-wrapper
  > .modal-form-agreement-checkbox {
  background-color: #fd9222;
  border-color: #fd9222;
  color: #fff;
}

.modal-form-agreement-icon {
  fill: currentColor;
}
.modal-form-agreement-link {
  color: #fd9222;
}

/*? Form Validation */
.modal-form-input:user-invalid {
  border-color: #e74a3b;
}
.modal-form-input:user-invalid + .modal-form-icon {
  stroke: #e74a3b;
}

.modal-form-error {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);

  opacity: 0;
  transition: 300ms ease-out;
}
.modal-form-input:user-invalid ~ .modal-form-error {
  opacity: 1;
}
